# Ignore the virtual environment directory
venv/

# Ignore data and images
data/images/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore environment variable file
.env
